[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coverage = "*"
black = "*"
factory-boy = "*"
flake8 = "*"
pre-commit = "*"
python-coveralls = "*"

[packages]
dj-database-url = "*"
django-allauth = "*"
django-heroku = "*"
django-widget-tweaks = "*"
gunicorn = "*"
psycopg2 = "*"
Django = "*"

[requires]

[pipenv]
allow_prereleases = true
