{% extends 'base.html' %}

{% block title %}Tournaments{% endblock title %}

{% block content %}
<table class="table">
  <thead class="thead-dark">
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Registration Fee</th>
    <th scope="col">Registration Open</th>
    <th scope="col">Registration Close</th>
  </tr>
  </thead>
  <tbody>
  {% for tournament in tournaments %}
  <tr>
    <td><a href="{% url 'tournament_detail' tournament.pk %}">{{ tournament.name }}</a></td>
    <td>${{ tournament.registration_fee }}</td>
    <td>{{ tournament.registration_open }}</td>
    <td>{{ tournament.registration_close }}</td>
  </tr>
  {% empty %}
  <tr>
    <td>No tournaments found.</td>
  </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock content %}