{% extends 'base.html' %}

{% block title %}Tournament Detail{% endblock title %}

{% block content %}
    <h3>{{ tournament.name }}</h3>
    <div class="row">
        {% if tournament.description %}
            <div class="col-md">
                <p>{{ tournament.description }}</p>
            </div>
        {% endif %}
        <div class="col-md">
            <p>
                <b>Registration Open:</b> {{ tournament.registration_open }}<br/>
                <b>Registration Close:</b> {{ tournament.registration_close }}<br/>
                <b>Registration Fee:</b> ${{ tournament.registration_fee }}
            </p>
        </div>
        {% if user.is_staff %}
            <div class="col-md">

                <li><a href="{% url 'tournament_export' tournament.pk %}">Export CSV</a></li>
            </div>
        {% endif %}
    </div>
    <h4>Events</h4>
    <div class="accordion" id="eventAccordion">
        {% for event in tournament.event_set.all %}
            <div class="card">
                <div class="card-header" id="heading_{{ event|slugify }}">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse"
                                data-target="#collapse_{{ event|slugify }}" aria-expanded="false"
                                aria-controls="collapse_{{ event|slugify }}">
                            {{ event }}
                        </button>
                    </h2>
                </div>
                <div id="collapse_{{ event|slugify }}" class="collapse" aria-labelledby="heading_{{ event|slugify }}"
                     data-parent="#eventAccordion">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm">{{ event.fencers.count }} / {{ event.fencers_max }} fencers</div>
                            <div class="col-sm">${{ event.fee }}</div>
                            <div class="col-sm">
                                <ul>
                                    {% if user.is_authenticated %}
                                        <li><a href="{% url 'event_register' event.pk %}">Register</a></li>
                                    {% endif %}
                                    <li><a href="{% url 'event_results' event.pk %}">Results</a></li>
                                </ul>
                            </div>
                        </div>
                        <p>{{ event.description }}</p>
                    </div>
                </div>
            </div>
        {% empty %}
            <p>This tournament does not have any events.</p>
        {% endfor %}
    </div>
{% endblock content %}